<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport">
        <title>About Our Website</title>
    </head>
<body>
    <div class="container" style="text-align:center">
        {% include 'navbar.html' %}
        <h1>ABOUT OUR OFFICIAL WEBSITE</h1>
        <p>My self Devang Parmar I Have Completed my bachelor's degree in adarsh bca college.i passed out bca in 2024.i have manufecture the python products and manipulation the data with teamwork.</p>
        <button>Contact Us</button>
    </div>
</body>
</html>