<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport">
        <title>About Our Website</title>
    </head>
<body>
    <div class="container" style="text-align:center">
        {% include 'navbar.html' %}
        <h1>Services</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus corrupti ex consequuntur sequi. Numquam optio aut fugiat inventore perspiciatis suscipit ad voluptatem sint modi aspernatur pariatur veritatis minus necessitatibus odit, qui at rerum eligendi iusto, debitis nulla dolore cum quae, nemo ratione! Veniam fugiat quis impedit qui officiis, error vel.</p>
        <button>Contact Us</button>
    </div>
</body>
</html>